@font-face {
    font-family: IRANSans;
    src: url("fonts/IRANSansWeb_NoEn.eot?#iefix") format("embedded-opentype"),
    url("fonts/IRANSansWeb_NoEn.woff2") format("woff2"),
    url("fonts/IRANSansWeb_NoEn.woff") format("woff"),
    url("fonts/IRANSansWeb_NoEn.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: Vazir;
    src: url("fonts/Vazir.eot") format("embedded-opentype"), url("fonts/Vazir.woff2") format("woff2"), url("fonts/Vazir.woff") format("woff"), url("fonts/Vazir.ttf") format("truetype");
    font-weight: 400;
}
.vazir_style{
    font-family: Vazir;
}
body{
    font-family: IRANSans !important;
}
header{
    background: url(img/solarSys.jpg);
    background-size: cover;
    background-position: center;
    min-height: 1000px;
}
.section{
    padding-top: 4vw;
    padding-bottom: 4vw;
}
.service{
    padding: 2vw;
}
.service>.col{
    padding: 3vw;
}
.Codebg{
    max-height: 300px;
}
.icon-left{
    left:0;
    margin-left: 3vw;
}
@media screen and(max-width: 670px) {
    header{
        min-height: 500px;
        max-height: 700px;
    }

}
@media screen and (min-width: 670px){
.current{
    max-height: 300px;
}
}

.col>p{
    font-family: Vazir;
    font-size: 0.9rem;
    line-height: 2.8em;
    font-weight: 400;
    font-style: normal;
}